/* ---------- Color Module Styles ----------- */

body {
  color: #3b3b3b;
  background: #292929;
}
#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #fff9e6;
}
.tabs ul.primary li a.is-active {
  background-color: #fff9e6;
}
.tabs ul.primary li.is-active a {
  border-bottom-color: #fff9e6;
  background-color: #fff9e6;
}
#header {
  background-color: #ffe3d2;
  background-image: -webkit-linear-gradient(top, #ff8a8a 0%, #ffe3d2 100%);
  background-image: linear-gradient(to bottom, #ff8a8a 0%, #ffe3d2 100%);
}
a,
.link {
  color: #0071b3;
}
a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #008ee2;
}
a:active,
.link:active {
  color: #22adff;
}
.sidebar .block {
  border-color: #8a8a8a;
  background-color: #f1f1d0;
}
.site-footer {
  background: #292929;
}
.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #000000;
}

/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-right: 20px;
  margin-left: 0;
}
[dir="rtl"] .color-form .form-item label {
  float: right;
}
[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}
